body::-webkit-scrollbar {
    display: none;
}

.dishes {
    background-color: white;
    border-radius: 20px;
}

.dishes img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dishes h2 {
    font-weight: 600;
}

.previousButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    color: black;
}

.pageButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}