.container {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    width: 400px;
    border-radius: 10px;
    margin-left: 50px;
}

.child {
    border-bottom: 1px solid gray;
    display: flex;
    gap: 15px;
    padding: 10px;

}

.img {
    border-radius: 50%;
}

.innerText {
    flex: 1;
}

.innerDiv {
    display: flex;
    justify-content: space-between;
}

.innerDiv p {
    margin: 0;
}

.innerDiv_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.innerDiv_2 p {
    margin: 0;
    color: gray;
    font-size: 15px;
}

.innerDiv_2 span {
    margin-right: 10px;
    background-color: rgb(57, 202, 57);
    padding: 2px;
    border-radius: 50px;
}