body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 3px gray;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;

    position: sticky;
    top: 0;
    z-index: 1;
}

header div {
    margin-left: 70px;
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    gap: 50px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

.cart_container {
    position: relative;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
    width: 48px;
    height: 48px;


}

.loading {
    display: flex;
    justify-content: center;
    top: 20px;

    width: 100%;
}

.loading div {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-block-color: transparent;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-inline: 100px;
}

.product_container {
    box-shadow: 2px 2px 3px gray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
}

.price-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-div b {
    color: green;
}

.price-div s {
    color: gray;
}

button {
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: rgb(163, 233, 59);
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);

}

@media screen and (min-width:576px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}